*

!.gitignore
!*.yml
!nginx/
!streaming/
!network/
!traefik/
!hass/
!hass/config/
!hass/mosquitto/
!hass/zigbee2mqtt/
!*.conf
!*.yaml
!*.html
!*.md
!*.sh
!static/
static/*
!static/dockerfile
!static/index.html